<%- include('includes/header') %>
<body>
  <div>PRODUCTS PAGE</div>
  <div><%=member.memberNick%></div>
  <% products.map((value,key)=>{%>
  <p><%=value.productName%> - <%=value.productSize%></p>

  <% }) %>
</body>

<%- include('includes/footer') %>
